.dashboard-container {
  min-height: 100vh;
  background: var(--light-bg); /* Fondo oscuro */
  background-attachment: fixed;
}

.dashboard-nav {
  background: linear-gradient(90deg, var(--dark) 0%, var(--black) 100%);
  color: white;
  padding: 1.2rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  border-bottom: 1px solid rgba(54, 191, 177, 0.3);
}

.dashboard-logo h1 {
  margin: 0;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.dashboard-user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.dashboard-content {
  padding: 2.5rem;
  max-width: 1300px;
  margin: 0 auto;
}

.dashboard-title1 {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(54, 191, 177, 0.5);
  position: relative;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2.5rem;
  padding: 1rem;
}

.dashboard-card {
  background-color: var(--dark); /* Fondo oscuro */
  border-radius: 15px;
  padding: 2.5rem 2rem;
  text-align: center;
  box-shadow: var(--shadow);
  transition: var(--transition);
  cursor: pointer;
  border: 1px solid rgba(54, 191, 177, 0.1);
  position: relative;
  overflow: hidden;
}

.dashboard-card:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, var(--primary), var(--primary-dark));
  opacity: 0;
  transition: var(--transition);
}

.dashboard-card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-hover);
}

.dashboard-card:hover:after {
  opacity: 1;
}

.dashboard-icon {
  font-size: 3rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
  transition: var(--transition);
  display: block;
}

.dashboard-card:hover .dashboard-icon {
  transform: scale(1.1);
  color: var(--primary-dark);
}

.dashboard-card h3 {
  color: var(--white); /* Texto blanco */
  margin-bottom: 0.8rem;
  font-weight: 600;
  transition: var(--transition);
}

.dashboard-card:hover h3 {
  color: var(--primary-dark);
}

.dashboard-card p {
  color: #ccc; /* Texto gris claro */
  margin: 0;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .dashboard-nav {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}